.comment {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 4px 8px;
    margin: -6px 93px 10px 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    float: right;
    background-color: #222;
    border: 0;
}

.commentHeader {
    display: flex;
    align-items: center;
}

.authorPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.containerNameIcon {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.authorName {
    font-weight: bold;
    color: #3e8fa0;
}

.commentText {
    text-align: right;
    margin: 4px 76px;
    color: white;
}

.commentTimestamp {
    color: #888;
    font-size: 12px;
}

.iconDel:hover {
    transform: scale(1.3);
    color: red;
}
