@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #333;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
